/.vscode
/build*/
/zig-cache/
/zig-out/
/__pycache__/
/.hypothesis
a.out
*.o
*.so
base64
demo_oop
curling
fnv_test
hashtable_test
hello
overflow
poll
threadtest
window
config.mk
compile_commands.json
