/__pycache__/
/.hypothesis
a.out
*.o
*.so
config.mk
compile_commands.json
bin/base64
bin/curling
bin/demo_oop
bin/greet
bin/greet.d
bin/hello
bin/notramp
bin/overflow
bin/poll
bin/sum_tree
bin/threadtest
bin/window
test/arena_test
test/coroutine_test
test/expect_test
test/fnv_test
test/hashtable_test
test/message_queue_basic
test/message_queue_block
