/.vscode
/build*/
/zig-cache/
/zig-out/
/__pycache__/
/.hypothesis
a.out
*.o
*.so
base64
demo_oop
curling
fnv_test
hashtable_test
hello
message_queue_basic
message_queue_copies
overflow
poll
threadtest
window
config.mk
compile_commands.json
bin/greet
bin/greet.d
test/arena
test/notramp
test/sum_tree
